<div class="block-style" style="background-color: rgb(209, 203, 200);">
  <h1 class="header-style">Activities</h1>
</div>
<div class="back-pic">
</div>
<div class="row-block">
  <div class="big-text">
    <p class="text-shadow">
      ENDOSCOPY<br/>
      ULTRASOUND<br/>
      CRITICAL CARE<br/>
      LABORATORY<br/>
      MICROSCOPY<br/>
      OPERATION THEATRE<br/>
      STERIZATION<br/>
      CONSUMABLES
    </p>
  </div>
  <div class="column-block">
    <img src="assets/endoscopy.png" class="activ-pics">
    <img src="assets/ultrasonography.png" class="activ-pics">
    <img src="assets/sterilization.png" class="steril-pic">
    <img src="assets/patient.png" class="activ-pics">
  </div>
  <div class="text">
    <p>
      Heylor Investments specializes in supplying medical<br/>
      equipment and consumables, designing and equipping<br/>
      CSSD departments. We offer a wide range of high-quality<br/>
      medical equipment, including medical devices,<br/>
      instruments, and consumables. Our team of professionals<br/>
      is ready to provide comprehensive solutions for medical<br/>
      institutions, taking into account their individual needs and<br/>
      requirements. We strive to provide our clients with reliable<br/>
      and innovative equipment that helps them deliver quality<br/>
      medical care to patients.
    </p>
  </div>
</div>
<div class="blank"></div>
