<div class="row">
  <div>
    <img src="assets/heylor-logo.jpg" class="logo-img">
  </div>
  <div class="buttons-block">
    <a href="#/main" class="no-dec">
      <div class="button">Home</div>
    </a>
    <a href="#/about" class="no-dec">
      <div class="button">About</div>
    </a>
    <a href="#/activities" class="no-dec">
      <div class="button">Activities</div>
    </a>
    <a href="#/contact" class="no-dec">
      <div class="button left-button">Contacts</div>
    </a>
  </div>
</div>
