.special-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px 60px;
  font-family: lato-regular, sans-serif;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
}

.small-text{
  font-family: avenir-light, sans-serif;
  font-size: 20px;
  letter-spacing: normal;
  line-height: 38px;
  text-align: center;
}

.header{
  font-family: rozha one, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 31px;
}
