<div>
  <div style="background-color: rgb(239, 233, 230);">
    <h1 class="header-style">About Us</h1>
  </div>
  <app-top-banner></app-top-banner>
  <div>
    <p class="text-style">
      Welcome to Heylor Investments Ltd and thank you for your interest in learning about our company.<br/>
      Heylor Investments Ltd specializes in selling high quality medical equipment for clinics, hospitals<br/>
      and private medical practices. We offer a wide range of products including diagnostic equipment,<br/>
      equipment for CSSD departments surgical instruments, ultrasound equipment microscopy and<br/>
      others. Our goal is to provide medical facilities with the latest technology to improve the quality of<br/>
      treatment and patient care.
    </p>
  </div>
  <div class="blank"></div>
</div>
