<div>
  <div style="background-color: rgb(239, 233, 230);">
    <h1 class="header-style">About Us</h1>
  </div>
  <app-top-banner></app-top-banner>
  <div>
    <p class="text-style">
      Welcome to Heylor Investments Ltd and thank you for your interest in learning about our company.<br/>
      Haylor Investments Ltd works in healthcare, medical technology, and sterilization and provides<br/>
      integration in these areas.<br/>
      We are a Cyprus company offering a wide range of medical equipment. At Heylor Investments Ltd<br/>
      we know about the difficulties to navigate through many offers available on the market for medical<br/>
      equipment – and we are here to support you all the way.
    </p>
  </div>
  <div class="blank"></div>
</div>
