.block-style{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-style{
  text-align: center;
  padding: 25px 0;
  margin: 0 0;
  color: black;
  font-family: rozha one, sans-serif;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: normal;
}

.text-style{
  font-family: lato-light, sans-serif;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 34px;
  text-align: center;
}

.blank{
  height: 30px;
  background-color: rgb(239, 233, 230);
}
