#top-banner-image {
  position: relative;
  background-image: url('/assets/About.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 580px;
}
