<app-home-page-top-banner></app-home-page-top-banner>
<app-who-banner></app-who-banner>
<div id="directions-block-main-page" class="row col-sm-8">
  <app-special-block image="endoscopy.png" title="Innovative technologies" text="We monitor new technologies and
progressive developments in medicine
around the world and are ready to offer them
to you."></app-special-block>
  <app-special-block image="sterilization.png" title="Sterilization and consumables" text="We know everything about  central
sterilization departments work.  We are ready
to provide the sterilization process with
equipment and consumables from the
world's leading producer."></app-special-block>
  <app-special-block image="ultrasonography.png" title="Integration" text="We know how difficult it can be to navigate
the many options available in the medical
device market. We are an integrator and will
help provide you with the optimal solution."></app-special-block>
</div>
<div class="pic">
  <img src="assets/Main_down.jpg" width="100%">
</div>
<div class="divider"></div>

