<app-home-page-top-banner></app-home-page-top-banner>
<app-who-banner></app-who-banner>
<p class="header">What Makes Us Special</p>
<div id="directions-block-main-page" class="row col-sm-8">
  <app-special-block image="endoscopy.png" title="Innovative technologies" text="We are following last
technologies in medical sphere
and are always up to date"></app-special-block>
  <app-special-block image="sterilization.png" title="Sterilization and consumables" text="We can offer a wide range of
CSSD equipment and
consumables"></app-special-block>
  <app-special-block image="ultrasonography.png" title="Integration" text="Since we are experienced in medical
technologies, we can help to
integrate medical equipment from
different departments and make
them to work as one body."></app-special-block>
</div>
<div class="pic">
  <img src="assets/Main_down.jpg" class="pic" width="100%">
</div>
<div class="ask-block">
  <a href="#/contacts">
    <p class="ask-text">Ask Us Anything</p>
  </a>
</div>
<div class="divider"></div>

