.main-div-style {
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
}

.block-style{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title-text-style{
  font-family: avenir-light, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 34px;
  text-align: center;
}

.text-style{
  font-family: avenir-light, sans-serif;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 34px;
  text-align: center;
}

.header-style{
  text-align: center;
  margin: 25px 0;
  color: black;
  font-family: rozha one, sans-serif;
  font-size: 40px;
  font-weight: 100;
  line-height: 54px;
  letter-spacing: normal;
}

.pic{
  height: 147px;
  object-fit: cover;
}

.blank{
  height: 30px;
  background-color: rgb(209, 203, 200);
}
