<div class="main-div-style">
  <div class="block-style" style="background-color: rgb(239, 233, 230);">
      <h1 class="header-style">Contacts</h1>
  </div>
  <div class="container">
    <div class="block-style">
      <img class="pic" src="assets/heylor-logo.jpg">
    </div>
    <div class="block-style" style="margin: 0 70px">
      <p class="title-text-style">Heylor Investments Ltd</p>
      <p class="text-style">
        221, Chr. Chatzipavlou Str.<br/>
        Helios Court, 3rd Floor<br/>
        3036, Limassol, Cyprus<br/>
        Phone:  +357 25 874 016<br/>
        e-mail: info@heylorinvestments.com
      </p>
    </div>
    <div class="block-style">
      <img class="pic" src="assets/cyprus-flag.jpg">
    </div>
    <div class="blank"></div>
  </div>
  <div class="blank"></div>
</div>
